/*
* Stylesheet for the header section, below the navigation bar
* Comprised of an Avatar image, background image, and name
*/
#nav-header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('/images/3px-tile.png');
  background-color:hwb(177 15% 15%);
  text-align: center;
  position:fixed;
}

.avatar-name > h2 {
  margin: 0;
  color: #FFFFFF;
}

.avatar-name > img {
  padding-top: 100px;
  width: 75%;
  height: 75;
}


/*
* Change layout for devices above 1024px in width
* Shift header and main sections either vertically or horizontally
*/
@media screen and (min-width: 1024px) {
  #nav-header {
    position:absolute;
    height: 100%;
    width:33%;
    justify-content: center;
    align-items: center;
    left: 0;
  }
  .avatar-name {
    position:fixed;
    top:25vh;
  }
}