/*
* Stylesheet for the main navigation bar
*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color:transparent;
  height: 100px;
  width: 100%;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position:fixed;
  z-index: 1;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 36px;
  margin-bottom: 0.5em;
}

.write-tweet {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.write-tweet > i {
  color: red;
}

/*
* Change layout for devices above 1024px in width
* Change background colour to be visible above header
*/
@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;  
  }
}