.new-tweet {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2em;
}

.new-tweet #error {
  text-align: center;
  display: none;
  color:red;
  height: 1.5em;
  border-color: red;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 1em;
}

.submit-counter {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-counter > output {
  font-family: 'Bungee', cursive;
  font-weight: 700;
}

.submit-counter > button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: 5px solid #4056A1;
  font-family: 'Bungee', cursive;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.submit-counter > button:hover {
  border: 5px solid rgb(89, 168, 192);
}

.tweet-form {
  display:flex;
  flex-direction: column;
}

.tweet-form > textarea {
  background-color: #f4f1ec;
  resize:none;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 2.5em;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  overflow:hidden;
}

.tweet-form > label {
  font-size: 30px;
  font-weight: 700;
}

.new-tweet > h2 {
  display:none;
}